body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container {
    text-align: center;
}

#codeInput {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #323483;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    margin-top: 20px;
}
.footer {
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.footer a {
    color: #fff; /* Set link color to white */
    text-decoration: none; /* Remove underline */
}

.footer a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}